
html, body {
  margin: 0.5em 0.5em 0.5em 0em;
  padding: 0.2em 0.5em 0.5em 0.5em;
 
  background-color:#051622;
}
h1, h2, h3, h4 ,span,p,a{
  color: wheat;
  letter-spacing: 0.05em;
  font-family: "Optima", sans-serif;
}

p {
  font-size: 1.1em;
}

.navbar {
  padding: 0.5em 0.5em 0.5em 0.5em;
  width: 100%;
  background-color: #051622;
  overflow: auto;
  display: flex;
  justify-content: flex-end;
  border-style: solid;
  border-width: thin;
  border-color: wheat;
  border-radius: 1%;
  animation: bounceLeft 2s infinite alternate;
}

.navbar a {
  float: left;
  padding: 0.5em;
  color:wheat;
  text-decoration: none;
  font-size: 1.1em;
  display: inline-flex;
  justify-content: flex-end;
}

.navbar a:hover {
  background-color: gainsboro;
}

.active {
  background-color: #1BA098;
}

.widgetsTop {
  width: 100%;
  background-color: #051622;
  display:flex;
  justify-content: center;
  margin-top: 0.3em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-style: solid;
  border-width: thin;
  border-color: wheat;
  border-radius: 1%;
  animation: bounceRight 2s infinite alternate;
} 
.widgetsTop ul {
  display: flex;
  justify-content: space-between;
  background-color: #051622;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
} 

.widgetsTop li {
  color: wheat;
  font-size: 1.1em;
  display: flex;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.widgetsTop #date{
  display: flex;
  justify-content: flex-start;
}

.widgetsTop #time{
  display: flex;
  justify-content: center;
}

.widgetsTop #temperature{
  display: flex;
  justify-content: flex-end;
}
.widgetsTop i {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.mainContent {
  display: inline-flex;
  background-color: #051622;
  width: 100%;
  margin-top: 0.3em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  overflow: auto;
  border-style: solid;
  border-width: thin;
  border-color: wheat;
  border-radius: 1%;
  animation: bounceLeft 2s infinite alternate;
}
.aboutMe p {
  display: flex;
  justify-content: center;
  color:wheat;
}
.mainContent #david {
  display: flex;
  justify-content: center;
}
.mainContent #david img{
  max-width:40%;
  border-radius: 50%;
}
.summary h2{
  display: flex;
  justify-content: center;
  color:wheat;
}
.summary p {
  font-size: 1.1em;
}

.skills {
  display: block;
  width:100%;
}
.skills h2{
  display: flex;
  justify-content: center;
  color:wheat;
}

.skillsCol {
  display: flex;
  padding: 0em 0em 0em 0em;
  width: 100%;
  justify-content: flex-start;
}
.skillsCol p {
  padding-right: 0.5em;
}
.checked {
  color:  #1BA098;
}
.skills ul {
  display: block;
  padding-left: 0em;  
  width: 100%;
}

.skills li {
  color: wheat;
  font-size: 1.1em;
  display: flex;
  width: 100%;
  align-items: center;

  padding-left: 0em;
}
.socials {
  display: flex;
  justify-content: space-around;
}
.socials a {
  color: wheat;
  text-decoration: none;
  font-size: 1.1em;
}

.socials i {
  padding-right: 0.2em;
  padding-left: 0.5em;
}
.misc {
  display: flex;
  background-color: #051622;
  width: 100%;
  margin-top: 0.3em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  overflow: auto;
  justify-content: space-around;
  border-style: solid;
  border-width: thin;
  border-color: wheat;
  border-radius: 1%;
  animation: bounceRight 2s infinite alternate;
}
.likeunlike {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  
}
.game {
  display: block;
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color:wheat;
}
.misc button:hover {
  background-color: gainsboro;
}
.contactForm {
  display: block;
  background-color: #051622;
  width: 100%;
  margin-top: 0.3em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  overflow: auto;
  justify-content: space-around;
  border-radius: 1%;
  border-style: solid;
  border-width: thin;
  border-color: wheat;
  color: wheat;
  animation: bounceLeft 2s infinite alternate;
  
}
.container {
  display: block;
}
footer {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding: 0em 0em 0em 0em;
  margin-top: 0.5em;
  background-color: #051622;
}
footer span {
  font-size: 1em;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
 
  .navbar {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .navbar a {
    float: none;
    display: flex;
    justify-content: center;
  }
  .mainContent{
    display: block;
  }
  .misc {
    display: inline-block;
    justify-content: center;
  }
  .likeunlike {
    margin-top:0.5em;
    display: flex;
    justify-content: center;
    max-width:50%;
  }
  .contactForm {
    display: block;
  }
  .container {
    display:block;
   
  }
}

@keyframes bounceLeft {
  from {
    transform: rotate(0.7deg);
  }
  to {
    transform: rotate(-0.7deg);
  }
}
@keyframes bounceRight {
  from {
    transform: rotate(-0.7deg);
  }
  to {
    transform: rotate(0.7deg);
  }
}
@-webkit-keyframes image {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-10px);
  }
}